<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>klean_driver.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EBD5237FA7B8BB49228F97057368D70E05DA8646</string>
				<key>dateExpires</key>
				<string>7/1/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EBD5237FA7B8BB49228F97057368D70E05DA8646</string>
						<key>dateExpires</key>
						<string>7/1/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B32Y73AFDZ</string>
						<key>name</key>
						<string>JNC Industrial LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EBD5237FA7B8BB49228F97057368D70E05DA8646</string>
						<key>dateExpires</key>
						<string>7/1/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B32Y73AFDZ</string>
						<key>name</key>
						<string>JNC Industrial LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EBD5237FA7B8BB49228F97057368D70E05DA8646</string>
						<key>dateExpires</key>
						<string>7/1/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B32Y73AFDZ</string>
						<key>name</key>
						<string>JNC Industrial LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EBD5237FA7B8BB49228F97057368D70E05DA8646</string>
						<key>dateExpires</key>
						<string>7/1/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_barcode_scanner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B32Y73AFDZ</string>
						<key>name</key>
						<string>JNC Industrial LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EBD5237FA7B8BB49228F97057368D70E05DA8646</string>
						<key>dateExpires</key>
						<string>7/1/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B32Y73AFDZ</string>
						<key>name</key>
						<string>JNC Industrial LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EBD5237FA7B8BB49228F97057368D70E05DA8646</string>
						<key>dateExpires</key>
						<string>7/1/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B32Y73AFDZ</string>
						<key>name</key>
						<string>JNC Industrial LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EBD5237FA7B8BB49228F97057368D70E05DA8646</string>
						<key>dateExpires</key>
						<string>7/1/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B32Y73AFDZ</string>
						<key>name</key>
						<string>JNC Industrial LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EBD5237FA7B8BB49228F97057368D70E05DA8646</string>
						<key>dateExpires</key>
						<string>7/1/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B32Y73AFDZ</string>
						<key>name</key>
						<string>JNC Industrial LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EBD5237FA7B8BB49228F97057368D70E05DA8646</string>
						<key>dateExpires</key>
						<string>7/1/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>smart_auth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B32Y73AFDZ</string>
						<key>name</key>
						<string>JNC Industrial LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B32Y73AFDZ.com.kleand.driver.dev</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>B32Y73AFDZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6da2b4f9-ca34-4595-beec-f819d6b4b58e</string>
				<key>dateExpires</key>
				<string>7/1/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.kleand.driver.dev</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B32Y73AFDZ</string>
				<key>name</key>
				<string>JNC Industrial LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>2.2.1</string>
		</dict>
	</array>
</dict>
</plist>
